#high-score {
    background-color: #008080;
    color: white;
    font-family: 'Rock Salt', cursive;
    
}

#timer {
    text-align: right;
}

#intro-body {
    text-align: center;
}

.card {
background-color: rgb(10, 10, 10);
border-color: #d1d105;
border-width: thick;
border-style: solid;
color: white;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
margin: auto;
}

.card-title {
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

.redText {
    color: #b40404;
}

.blueText {
    color: #008080;
}

.yellowText {
    color: #d1d105;
}

#start-quiz {
    background-color: #b40404;
    color: white;
    font-size: large;
    margin: auto;
    padding: 1%;
    
}

.btn {
    cursor: pointer;
    display: block;
    background-color: #b40404;
    color: white;
    font-family: 'Rock Salt', cursive;
}

.quiz {
    display: none;
    padding: 5%;

}

#quiz-question {
    font-size: x-large;
}

.results {
    display: none;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

#initial-submit {
    margin: auto;
}

#high-score-body {
    display: none;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}